.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 107.72px;
    width: 1600px;
    height: 204.147px;
    background: #223865;
}
.footer-top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-text-main{
    margin-top: 40.23px;
    color: #FFF;
    font-family: stangith;
    font-size: 29.167px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-cat-manu{
    margin-top: 16.67px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 79.59px;
}
.footer-cat-it{
    color: #FFF;

    font-family: Sofia Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-bottom-content{
    margin-top: 25px;
    height: 66.41px;
    width: 1250px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fotter-bottom-left-content{
    color: #FFF;
    font-family: Sofia Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.fotter-bottom-right-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 17.38px;
}
.footer-ic{
    width: 24.086px;
    height: 24.086px;
}